# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# SQLite databases
*.db
*.sqlite
*.sqlite3

# Pytest cache
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Docker artifacts
/.mypy_cache/

# Editor
.idea/
.vscode/


